<li class="shadow-sm list-unstyled py-2 pl-3 mb-3 fz-20 border position-relative"> 
  <span class="font-weight-bold text-primary"> <%= "#{article.id} - " %> </span> 
  <span> <%= "#{article.title}"%> </span>
  <p class="text-secondary pt-3 pl-5">Creado: <%= article.created_at%> </p>
  <div class="position-absolute" style="top: 35%; right: 10px;"> 
    <span class="px-3 py-2 badge badge-warning rounded"> <%= link_to '', edit_article_path(article.id), class: 'fa fa-pencil-alt fz-20'%> </span>
    <span class="px-3 py-2 mx-3 badge badge-danger rounded"> <%= link_to '', article_path(article.id), class: 'fa fa-trash fz-20', method: :delete, data: { confirm: "Are you sure?" }
%> </span>
  </div>
  <span class="pl-3"> <%= link_to 'Ver más', article, class: 'btn btn-link text-decoration-none'%> </span>
</li>