<%=form_with(model: @article, local: true) do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%=form.text_field :title %>
  </div>

   <div class="field">
    <%=form.label :body %>
    <%=form.rich_text_area :body %>
  </div>

  <div class="mt-3">
    <%= form.submit %>
  </div>
<%end %>