<nav class="nav bg-light padding"> 
  <li class="nav-item"> 
    <%= link_to "Inicio", root_path, class: "nav-link" %> 
  </li>
  <li class="nav-item"> 
    <%= link_to "Artículos", articles_path, class: "nav-link" %> 
  </li>
  <li class="nav-item"> 
    <%= link_to "Cear Artículo", new_article_path, class: "nav-link" %> 
  </li>
 <% if user_signed_in? %>
  <li class="nav-item"> 
    <%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete, class: "nav-link" %> 
  </li>
 <% else %>
  <li class="nav-item"> 
    <%= link_to "Iniciar Sesión", new_user_session_path, class: "nav-link" %> 
  </li>
  <li class="nav-item"> 
    <%= link_to "Registro", new_user_registration_path, class: "nav-link" %> 
  </li>
  <% end %>
</nav>